.loading {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #00000086;
    backdrop-filter: blur(2px) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}